<!DOCTYPE html>
<!--
 - File              : wordpiece.html
 - Author            : Pranava Madhyastha <pranava@imperial.ac.uk>
 - Date              : 01.11.2020
 - Last Modified Date: 10.02.2021
 - Last Modified By  : Pranava Madhyastha <pranava@imperial.ac.uk>
-->
<html lang="en">
<head>
    <!-- third party css call -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimodal Hate Speech Detection</title>
</head>
<body>
    <div class="col-6">
        <h1>Multimodal Hate Speech Detection - About Wordpieces</h1>
        <p>When analyzing text, the first thing we do is to split it up into 'tokens'.</p>
        <p>Often these tokens are words and punctuation, but sometimes for rarer or misspelt words, we may split these words up into 'wordpieces' that are just components of these words.</p>
        <p>Whenever a token in a text visualization starts with '##' it indicates that it was once part of a larger word that has been split up.</p>
    </div>
</body>
</html>
